@import "bootstrap/scss/bootstrap";

:root {
  --color-primary: #621a22;
  --color-secondary: #e0d1d3;
  --color-a: #fff;
  --color-b: #eee;
  --color-c: #ccc;
  --color-x: #777;
  --color-y: #555;
  --color-z: #161616;
}
